/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~~~~------~~~~~~~~~ end css reset ~~~~~~~~_---------``~~~~~~~~`` */

:root {
    --palette-main1: #7B8CDE;
    --palette-main2: #9999C3;
    --palette-secondary1: #BB999C;
    --palette-secondary2: #E88D67;
    --palette-secondary3: #C0E6DE;
    --palette-offwhite1: #F5F3F6;
}


.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15vh 85vh;
}

/* !~~~~~~~ SIDEBAR ~~~~~~~! */
.sidebar {
    background-color: var(--palette-main1);
}

.logo-image {
    height: 3em;
    width: 3em;
    background-color: pink;
    border: none;
}

.logo-text {
    font-weight: bolder;
    font-size: 2em;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    display: grid;
    grid-template-rows: 1fr 8fr;
}

.navigation {
    display: grid;
    align-content: start;
}

.sidebar-item {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-items: center;
    column-gap: 1em;
}

.sidebar-img {
    background-color: blue;
    height: 2em;
    width: 2em;
}

.sidebar-text {
    justify-self: start;
}

/* !~~~~~~~ HEADER ~~~~~~~~! */

.header {
    background-color: blanchedalmond;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.searchbar {
    background-color: red;
}

.searchbar {
    grid-column: 1 / -1;

    display: grid;
}

.search-left {
    display: flex;
}

.userinfo {
    background-color: purple;
}

.buttons {
    background-color: green;
}

/* !~~~~~~~ MAIN ~~~~~~~! */

.main {
    background-color: var(--palette-offwhite1);
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: 5fr 2fr;
}

.main .projects {
    grid-row: 1 / -3;    
}